@font-face {
    font-family: "Futura";
    src: url('./font/Futura\ Bold\ Italic.otf');
}
@font-face {
    font-family: "Poke";
    src: url('./font/Pokemon\ GB.ttf');
}
h1 {
    color: #1D1D63;
    font-family: 'Futura';
    font-size: 64px;
    text-align: center;
}
.hero {
    height:600px;
    background:#7C7C7C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
main {
    background: #7D2E60;
    height: 100vw;
    font-family: 'Futura';
    font-weight: 100;
    margin: 0;
    padding: 10px;
}
.profile-pic {
    width:210px;
    height:210px;
    border-radius:4000px;
    border: #7D2E60 4px solid;
}
canvas {
    width: 100px;
    height: 100px;
    background: red;
}
#typeout {
    background: #C2FF70;
    border-width:5px;  
    border-style:double;
    width: 350px;
    height: 150px;
    border-radius: 8px;
    padding: 5px;
    font-family: "Poke";
}