@font-face {
    font-family: "Futura";
    src: url('./font/Futura\ Bold\ Italic.otf');
}
@font-face {
    font-family: "Poke";
    src: url('./font/Pokemon\ GB.ttf');
}
h1 {
    color: #1D1D63;
    font-family: 'Futura';
    font-size: 82px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
header {
    background: #DEE0CB;
    margin: 0;
    height: 90px;
    margin: 0;
}
header h1 {
    margin: 0;
}
.outer {
    background: #DEE0CB;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bezel {
    width: 80%;
    height: 80%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius:  20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 80px;
}
.hero {
    height: 80%;
    width: 80%;
    background-image: url("./img/grid.png");
    background-size: cover;
    /* background:#7C7C7C; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
main {
    background: #7D2E60;
    height: 100vw;
    font-family: 'Futura';
    font-weight: 100;
    margin: 0;
    padding: 10px;
}
.profile-pic {
    width:200px;
    height:200px;
    border-radius:4000px;
    border: #7D2E60 8px solid;
}
canvas {
    width: 100px;
    height: 100px;
    background: red;
}
#typeout {
    background: #C2FF70;
    border-width:5px;  
    border-style:double;
    width: 350px;
    border-radius: 8px;
    padding: 15px;
    font-family: "Poke";
    margin-left: 10px;
}